@(form: Form[models.forms.SignUp])

<!DOCTYPE html>
<html>
<head>
    <title>Feed</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/custom.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/login.css")">
</head>
<body class="cyan loaded">

<div id="login-page" class="row margin">
    <div class="col s12 z-depth-4 card-panel">
        @if( form.hasGlobalErrors ) {
        <div class="card grey lighten-3 error-message">
            <div class="card-content red-text darken-3">
                <p class="no-padding really-center">@form.globalError.message</p>
            </div>
        </div>
        }
        @helper.form(routes.Application.signUpPost, 'class -> "login-form") {
            <div class="row">
                <div class="input-field col s12 center">
                    <h4>Register</h4>
                    <p class="center">Join to see your feed now!</p>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input id="email" name="email" type="email" value="@form("email").value">
                    <label for="email" class="center-align">Email</label>
                    @for(error <- form("email").errors) {
                        <span class="red-text accent-4">@Messages(error.message)</span>
                    }
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input id="password" type="password" name="password">
                    <label for="password">Password</label>
                    @for(error <- form("password").errors) {
                        <span class="red-text accent-4">@Messages(error.message)</span>
                    }
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input id="password-again" type="password" name="repeatPassword">
                    <label for="password-again">Password again</label>
                    @for(error <- form("repeatPassword").errors) {
                        <span class="red-text accent-4">@Messages(error.message)</span>
                    }
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button type="submit" class="btn waves-effect waves-light col s12">Sign Up</button>
                </div>
                <div class="input-field col s12">
                    <p class="margin center medium-small sign-up">Already have an account? <a href="@routes.Application.login()">Login</a></p>
                </div>
            </div>
        }
    </div>
</div>